apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-history
  namespace: default
  labels:
    app: spark-history
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-history
  template:
    metadata:
      labels:
        app: spark-history
    spec:
      hostname: spark-history
      initContainers:
      - name: init-wait-1
        image: alpine:3.22.2
        command: ["sh", "-c", "for i in $(seq 1 300); do nc -zvw1 spark-master 8087 && exit 0 || sleep 3; done; exit 1"]
      volumes:
      - name: host-folder-storage-spark
        hostPath:
          path: /home/stanislav/k8s/25_11/spark
          type: Directory
      containers:
      - name: spark-history
        image: stanislavko2/bigdata25_spark:3.5.7
        imagePullPolicy: Always
        resources:
          requests:
            memory: "2024Mi"
            cpu: "250m"
          limits:
            memory: "2024Mi"
            cpu: "500m"
        volumeMounts:
        - name: host-folder-storage-spark
          mountPath: /opt/spark/my_jars
        - name: host-folder-storage-spark
          mountPath: /opt/spark/jars/spark-iceberg-1.0.0.jar
          subPath: spark-iceberg-1.0.0.jar
        ports:
        - containerPort: 18080
        command:
        - /bin/bash
        - -c
        - >
          /opt/spark/sbin/start-history-server.sh && tail -f /dev/null
        env:
        - name: SPARK_MASTER_HOST
          value: "spark-master"
        - name: SPARK_MASTER_PORT
          value: "7077"
        - name: DELME
          value: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: spark-history
  namespace: default 
spec:
  ports:
  - name: history
    port: 18080
    targetPort: 18080
  selector:
    app: spark-history
